In [19]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [21]:
df_list = []
years = ['2010-11', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19']
months = ['October', 'November', 'December', 'January', 'February', 'March', 'April']
columns = ['Starters','MP','FG','FGA','FG%','3P','3PA','3P%','FT','FTA','FT%','ORB','DRB','TRB','AST','STL','BLK','TOV','PF','PTS','+/-']

for h in range(0, len(years)):
    driver = webdriver.Chrome(executable_path='C:/Users/yesla/bin/chromedriver.exe')
    driver.get("https://www.basketball-reference.com/leagues/")
    driver.find_element_by_link_text(years[h]).click()
    driver.find_element_by_link_text("Schedule and Results").click()
    for i in range(0, len(months)):
        # Get all of the box scores for October in the 2010-2011 season
        driver.find_element_by_link_text(months[i]).click()
        allgames = driver.find_element_by_id("schedule")
        tr_list = allgames.find_elements_by_tag_name('tr')
    
        # First for loop to get the first 30 boxscores
        if months[i] != 'April':
            for j in range(1,len(tr_list)):
            # Use try statement to get passed the weird table formatting
                try:
                    # Click on the boxscores for the NBA games
                    allgames = driver.find_element_by_id("schedule")
                    tr_list = allgames.find_elements_by_tag_name('tr')
                    tr_list[j].find_element_by_link_text("Box Score").click()
    
                    # Get team names for later use
                    soup = BeautifulSoup(driver.page_source, 'html.parser')
                    table = soup.find(name='table', attrs={'id':'line_score'})
                    html_str = str(table)
                    df = pd.read_html(html_str)[0]
                    team1 = df['Unnamed: 0'][1]
                    team2 = df['Unnamed: 0'][2]
    
                    # Extract and transform first teams boxscore
                    table1 = soup.find(name='table', attrs={'id':'box-'+team1+'-game-basic'})
                    html_str1 = str(table1)
                    df1 = pd.read_html(html_str1)[0]
                    df1 = pd.DataFrame(df1.to_records())
                    first_column = df1.columns[0]
                    df1 = df1.drop([first_column], axis=1)
                    df1.columns = columns
                    df1 = df1[(df1['Starters'] != 'Reserves') & (df1['Starters'] != 'Team Totals') & (df1['MP'] != 'Did Not Play')]
    
                    # Extract and transform second teams boxscore
                    table2 = soup.find(name='table', attrs={'id':'box-'+team2+'-game-basic'})
                    html_str2 = str(table2)
                    df2 = pd.read_html(html_str2)[0]
                    df2 = pd.DataFrame(df2.to_records())
                    first_column = df2.columns[0]
                    df2 = df2.drop([first_column], axis=1)
                    df2.columns = columns
                    df2 = df2[(df2['Starters'] != 'Reserves') & (df2['Starters'] != 'Team Totals') & (df2['MP'] != 'Did Not Play')]
    
                    # Concatenate both boxscores then append to empty list
                    df_comp = pd.concat([df1,df2])
                    df_list.append(df_comp)
                    driver.back()
                except:
                    pass
        else:
            for j in range(60,len(tr_list)):
            # Use try statement to get passed the weird table formatting
                try:
                    # Click on the boxscores for the NBA games
                    allgames = driver.find_element_by_id("schedule")
                    tr_list = allgames.find_elements_by_tag_name('tr')
                    tr_list[j].find_element_by_link_text("Box Score").click()
    
                    # Get team names for later use
                    soup = BeautifulSoup(driver.page_source, 'html.parser')
                    table = soup.find(name='table', attrs={'id':'line_score'})
                    html_str = str(table)
                    df = pd.read_html(html_str)[0]
                    team1 = df['Unnamed: 0'][1]
                    team2 = df['Unnamed: 0'][2]
    
                    # Extract and transform first teams boxscore
                    table1 = soup.find(name='table', attrs={'id':'box-'+team1+'-game-basic'})
                    html_str1 = str(table1)
                    df1 = pd.read_html(html_str1)[0]
                    df1 = pd.DataFrame(df1.to_records())
                    first_column = df1.columns[0]
                    df1 = df1.drop([first_column], axis=1)
                    df1.columns = columns
                    df1 = df1[(df1['Starters'] != 'Reserves') & (df1['Starters'] != 'Team Totals') & (df1['MP'] != 'Did Not Play')]
    
                    # Extract and transform second teams boxscore
                    table2 = soup.find(name='table', attrs={'id':'box-'+team2+'-game-basic'})
                    html_str2 = str(table2)
                    df2 = pd.read_html(html_str2)[0]
                    df2 = pd.DataFrame(df2.to_records())
                    first_column = df2.columns[0]
                    df2 = df2.drop([first_column], axis=1)
                    df2.columns = columns
                    df2 = df2[(df2['Starters'] != 'Reserves') & (df2['Starters'] != 'Team Totals') & (df2['MP'] != 'Did Not Play')]
    
                    # Concatenate both boxscores then append to empty list
                    df_comp = pd.concat([df1,df2])
                    df_list.append(df_comp)
                    driver.back()
                except:
                    break

AttributeError: 'NoneType' object has no attribute 'click'

In [ ]:
driver = webdriver.Chrome(executable_path='C:/Users/yesla/bin/chromedriver.exe')
driver.get("https://www.basketball-reference.com/leagues/")
driver.find_element_by_link_text('2011-12').click()
driver.find_element_by_link_text("Schedule and Results").click()

df_list2 = []
months2 = ['December', 'January', 'February', 'March', 'April']
for i in range(0, len(months2)):
    # Get all of the box scores for October in the 2010-2011 season
    driver.find_element_by_link_text(months2[i]).click()
    allgames = driver.find_element_by_id("schedule")
    tr_list = allgames.find_elements_by_tag_name('tr')
    
    # First for loop to get the first 30 boxscores
    if months2[i] != 'April':
        for j in range(1,len(tr_list)):
        # Use try statement to get passed the weird table formatting
            try:
                # Click on the boxscores for the NBA games
                allgames = driver.find_element_by_id("schedule")
                tr_list = allgames.find_elements_by_tag_name('tr')
                tr_list[j].find_element_by_link_text("Box Score").click()
    
                # Get team names for later use
                soup = BeautifulSoup(driver.page_source, 'html.parser')
                table = soup.find(name='table', attrs={'id':'line_score'})
                html_str = str(table)
                df = pd.read_html(html_str)[0]
                team1 = df['Unnamed: 0'][1]
                team2 = df['Unnamed: 0'][2]
    
                # Extract and transform first teams boxscore
                table1 = soup.find(name='table', attrs={'id':'box-'+team1+'-game-basic'})
                html_str1 = str(table1)
                df1 = pd.read_html(html_str1)[0]
                df1 = pd.DataFrame(df1.to_records())
                first_column = df1.columns[0]
                df1 = df1.drop([first_column], axis=1)
                df1.columns = columns
                df1 = df1[(df1['Starters'] != 'Reserves') & (df1['Starters'] != 'Team Totals') & (df1['MP'] != 'Did Not Play')]
    
                # Extract and transform second teams boxscore
                table2 = soup.find(name='table', attrs={'id':'box-'+team2+'-game-basic'})
                html_str2 = str(table2)
                df2 = pd.read_html(html_str2)[0]
                df2 = pd.DataFrame(df2.to_records())
                first_column = df2.columns[0]
                df2 = df2.drop([first_column], axis=1)
                df2.columns = columns
                df2 = df2[(df2['Starters'] != 'Reserves') & (df2['Starters'] != 'Team Totals') & (df2['MP'] != 'Did Not Play')]
    
                # Concatenate both boxscores then append to empty list
                df_comp = pd.concat([df1,df2])
                df_list2.append(df_comp)
                driver.back()
            except:
                pass
    else:
        for j in range(60,len(tr_list)):
        # Use try statement to get passed the weird table formatting
            try:
                # Click on the boxscores for the NBA games
                allgames = driver.find_element_by_id("schedule")
                tr_list = allgames.find_elements_by_tag_name('tr')
                tr_list[j].find_element_by_link_text("Box Score").click()
    
                # Get team names for later use
                soup = BeautifulSoup(driver.page_source, 'html.parser')
                table = soup.find(name='table', attrs={'id':'line_score'})
                html_str = str(table)
                df = pd.read_html(html_str)[0]
                team1 = df['Unnamed: 0'][1]
                team2 = df['Unnamed: 0'][2]
    
                # Extract and transform first teams boxscore
                table1 = soup.find(name='table', attrs={'id':'box-'+team1+'-game-basic'})
                html_str1 = str(table1)
                df1 = pd.read_html(html_str1)[0]
                df1 = pd.DataFrame(df1.to_records())
                first_column = df1.columns[0]
                df1 = df1.drop([first_column], axis=1)
                df1.columns = columns
                df1 = df1[(df1['Starters'] != 'Reserves') & (df1['Starters'] != 'Team Totals') & (df1['MP'] != 'Did Not Play')]
    
                # Extract and transform second teams boxscore
                table2 = soup.find(name='table', attrs={'id':'box-'+team2+'-game-basic'})
                html_str2 = str(table2)
                df2 = pd.read_html(html_str2)[0]
                df2 = pd.DataFrame(df2.to_records())
                first_column = df2.columns[0]
                df2 = df2.drop([first_column], axis=1)
                df2.columns = columns
                df2 = df2[(df2['Starters'] != 'Reserves') & (df2['Starters'] != 'Team Totals') & (df2['MP'] != 'Did Not Play')]
    
                # Concatenate both boxscores then append to empty list
                df_comp = pd.concat([df1,df2])
                df_list2.append(df_comp)
                driver.back()
            except:
                break

In [ ]:
df_full = pd.concat(df_list,df_list2)
df_full

# Code used when developing final code

In [111]:
driver.find_element_by_link_text('October').click()

In [107]:
allgames = driver.find_element_by_id("schedule")
tr_list = allgames.find_elements_by_tag_name('tr')
tr_list[44].find_element_by_link_text("Box Score").click()
driver.back()

In [105]:
allgames = driver.find_element_by_id("schedule")
tr_list = allgames.find_elements_by_tag_name('tr')
len(tr_list)

45

In [103]:
for i in range(29,33):
    # Click on the boxscores for the NBA games
    try:
        allgames = driver.find_element_by_id("schedule")
        tr_list = allgames.find_elements_by_tag_name('tr')
        tr_list[i].find_element_by_link_text("Box Score").click()
        driver.back()
    except:
        pass

In [55]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [56]:
table = soup.find(name='table', attrs={'id':'line_score'})
html_str = str(table)
df = pd.read_html(html_str)[0]
team1 = df['Unnamed: 0'][1]
team2 = df['Unnamed: 0'][2]

In [57]:
columns = ['Starters','MP','FG','FGA','FG%','3P','3PA','3P%','FT','FTA','FT%','ORB','DRB','TRB','AST','STL','BLK','TOV','PF','PTS','+/-']

In [58]:
table1 = soup.find(name='table', attrs={'id':'box-'+team1+'-game-basic'})
html_str1 = str(table1)
df1 = pd.read_html(html_str1)[0]
df1

,Unnamed: 0_level_0,Basic Box Score Stats,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 11_level_0,Unnamed: 12_level_0,Unnamed: 13_level_0,Unnamed: 14_level_0,Unnamed: 15_level_0,Unnamed: 16_level_0,Unnamed: 17_level_0,Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0
,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,LeBron James,42:39,10,21,.476,3,6,.500,8,12,...,0,4,4,3,1,2,8,1,31,+1
1,Chris Bosh,37:37,3,11,.273,0,0,NaN,2,2,...,2,6,8,2,1,1,1,4,8,-17
2,Dwyane Wade,36:41,4,16,.250,1,3,.333,4,6,...,0,4,4,6,3,0,6,4,13,-18
3,Joel Anthony,16:41,1,1,1.000,0,0,NaN,0,0,...,3,4,7,1,0,1,0,2,2,-12
4,Carlos Arroyo,12:33,1,3,.333,0,0,NaN,1,1,...,0,0,0,0,0,0,0,0,3,-5
5,Reserves,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
6,Udonis Haslem,30:36,3,7,.429,0,0,NaN,2,2,...,4,7,11,0,0,1,0,4,8,-4
7,Eddie House,26:30,3,8,.375,2,4,.500,0,0,...,0,0,0,2,1,0,0,0,8,0
8,James Jones,26:04,2,7,.286,2,7,.286,0,0,...,0,2,2,1,1,0,0,2,6,-2
9,Zydrunas Ilgauskas,10:39,0,0,NaN,0,0,NaN,1,2,...,2,1,3,0,3,1,2,4,1,+17
10,Jamaal Magloire,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Juwan Howard,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Mario Chalmers,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Team Totals,240,27,74,.365,8,20,.400,18,25,...,11,28,39,15,10,6,17,21,80,NaN

In [59]:
df1 = pd.DataFrame(df1.to_records())

In [60]:
first_column = df1.columns[0]
df1 = df1.drop([first_column], axis=1)
df1

,"('Unnamed: 0_level_0', 'Starters')","('Basic Box Score Stats', 'MP')","('Unnamed: 2_level_0', 'FG')","('Unnamed: 3_level_0', 'FGA')","('Unnamed: 4_level_0', 'FG%')","('Unnamed: 5_level_0', '3P')","('Unnamed: 6_level_0', '3PA')","('Unnamed: 7_level_0', '3P%')","('Unnamed: 8_level_0', 'FT')","('Unnamed: 9_level_0', 'FTA')",...,"('Unnamed: 11_level_0', 'ORB')","('Unnamed: 12_level_0', 'DRB')","('Unnamed: 13_level_0', 'TRB')","('Unnamed: 14_level_0', 'AST')","('Unnamed: 15_level_0', 'STL')","('Unnamed: 16_level_0', 'BLK')","('Unnamed: 17_level_0', 'TOV')","('Unnamed: 18_level_0', 'PF')","('Unnamed: 19_level_0', 'PTS')","('Unnamed: 20_level_0', '+/-')"
0,LeBron James,42:39,10,21,.476,3,6,.500,8,12,...,0,4,4,3,1,2,8,1,31,+1
1,Chris Bosh,37:37,3,11,.273,0,0,NaN,2,2,...,2,6,8,2,1,1,1,4,8,-17
2,Dwyane Wade,36:41,4,16,.250,1,3,.333,4,6,...,0,4,4,6,3,0,6,4,13,-18
3,Joel Anthony,16:41,1,1,1.000,0,0,NaN,0,0,...,3,4,7,1,0,1,0,2,2,-12
4,Carlos Arroyo,12:33,1,3,.333,0,0,NaN,1,1,...,0,0,0,0,0,0,0,0,3,-5
5,Reserves,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
6,Udonis Haslem,30:36,3,7,.429,0,0,NaN,2,2,...,4,7,11,0,0,1,0,4,8,-4
7,Eddie House,26:30,3,8,.375,2,4,.500,0,0,...,0,0,0,2,1,0,0,0,8,0
8,James Jones,26:04,2,7,.286,2,7,.286,0,0,...,0,2,2,1,1,0,0,2,6,-2
9,Zydrunas Ilgauskas,10:39,0,0,NaN,0,0,NaN,1,2,...,2,1,3,0,3,1,2,4,1,+17
10,Jamaal Magloire,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Juwan Howard,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Mario Chalmers,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Team Totals,240,27,74,.365,8,20,.400,18,25,...,11,28,39,15,10,6,17,21,80,NaN

In [61]:
df1.columns = columns
df1 = df1[(df1['Starters'] != 'Reserves') & (df1['Starters'] != 'Team Totals') & (df1['MP'] != 'Did Not Play')]

In [62]:
table2 = soup.find(name='table', attrs={'id':'box-'+team2+'-game-basic'})
html_str2 = str(table2)
df2 = pd.read_html(html_str2)[0]
df2 = pd.DataFrame(df2.to_records())
first_column = df2.columns[0]
df2 = df2.drop([first_column], axis=1)
df2.columns = columns
df2 = df2[(df2['Starters'] != 'Reserves') & (df2['Starters'] != 'Team Totals') & (df2['MP'] != 'Did Not Play')]

In [65]:
df2

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,Rajon Rondo,41:29,2,9,.222,0,0,NaN,0,0,...,1,4,5,17,2,0,3,1,4,+4
1,Paul Pierce,40:33,4,7,.571,3,4,.750,8,8,...,1,8,9,3,1,0,3,3,19,+12
2,Ray Allen,39:16,7,13,.538,5,8,.625,1,1,...,0,1,1,1,0,0,1,1,20,-2
3,Kevin Garnett,35:13,4,11,.364,0,0,NaN,2,4,...,2,8,10,3,3,0,7,5,10,+7
4,Shaquille O'Neal,18:09,3,7,.429,0,0,NaN,3,8,...,2,5,7,0,0,1,1,2,9,+7
6,Glen Davis,29:24,6,7,.857,0,0,NaN,1,2,...,1,4,5,0,0,1,0,2,13,+1
7,Marquis Daniels,12:49,4,5,.800,0,1,.000,0,0,...,0,2,2,0,0,0,1,3,8,+3
8,Jermaine O'Neal,12:47,0,3,.000,0,0,NaN,1,2,...,1,1,2,0,0,2,1,1,1,+1
9,Nate Robinson,10:20,2,7,.286,0,3,.000,0,0,...,0,1,1,1,0,0,1,1,4,+7
10,Delonte West,Player Suspended,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df_comp = pd.concat([df1,df2])
df_comp

,Starters,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
0,LeBron James,42:39,10,21,.476,3,6,.500,8,12,...,0,4,4,3,1,2,8,1,31,+1
1,Chris Bosh,37:37,3,11,.273,0,0,NaN,2,2,...,2,6,8,2,1,1,1,4,8,-17
2,Dwyane Wade,36:41,4,16,.250,1,3,.333,4,6,...,0,4,4,6,3,0,6,4,13,-18
3,Joel Anthony,16:41,1,1,1.000,0,0,NaN,0,0,...,3,4,7,1,0,1,0,2,2,-12
4,Carlos Arroyo,12:33,1,3,.333,0,0,NaN,1,1,...,0,0,0,0,0,0,0,0,3,-5
6,Udonis Haslem,30:36,3,7,.429,0,0,NaN,2,2,...,4,7,11,0,0,1,0,4,8,-4
7,Eddie House,26:30,3,8,.375,2,4,.500,0,0,...,0,0,0,2,1,0,0,0,8,0
8,James Jones,26:04,2,7,.286,2,7,.286,0,0,...,0,2,2,1,1,0,0,2,6,-2
9,Zydrunas Ilgauskas,10:39,0,0,NaN,0,0,NaN,1,2,...,2,1,3,0,3,1,2,4,1,+17
0,Rajon Rondo,41:29,2,9,.222,0,0,NaN,0,0,...,1,4,5,17,2,0,3,1,4,+4
1,Paul Pierce,40:33,4,7,.571,3,4,.750,8,8,...,1,8,9,3,1,0,3,3,19,+12
2,Ray Allen,39:16,7,13,.538,5,8,.625,1,1,...,0,1,1,1,0,0,1,1,20,-2
3,Kevin Garnett,35:13,4,11,.364,0,0,NaN,2,4,...,2,8,10,3,3,0,7,5,10,+7
4,Shaquille O'Neal,18:09,3,7,.429,0,0,NaN,3,8,...,2,5,7,0,0,1,1,2,9,+7
6,Glen Davis,29:24,6,7,.857,0,0,NaN,1,2,...,1,4,5,0,0,1,0,2,13,+1
7,Marquis Daniels,12:49,4,5,.800,0,1,.000,0,0,...,0,2,2,0,0,0,1,3,8,+3
8,Jermaine O'Neal,12:47,0,3,.000,0,0,NaN,1,2,...,1,1,2,0,0,2,1,1,1,+1
9,Nate Robinson,10:20,2,7,.286,0,3,.000,0,0,...,0,1,1,1,0,0,1,1,4,+7
10,Delonte West,Player Suspended,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN